* {
    font-family: 'Poppins', sans-serif;
  }
  .appointment-banner {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      background-color: #e6f6fb;
      padding: 3rem 6rem;
      width: 100%;
      box-sizing: border-box;
      gap: 2rem;
    }
    
    .appointment-left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }
    
    .plus-icon {
      width: 50%; /* Увели5иваем крестик */
      position: absolute;
      top: -75px;    /* сдвиг вниз */
      left: 100px;   /* сдвиг вправо */
      z-index: 2;
      transition: transform 0.3s ease;
    }
    .plus-icon:hover {
      transform: translateY(-5px);
   
    }
    
    .appointment-card {
      background-color: #3c52a4;
      color: white;
      height: 170px; /* фиксируем высоту */
      width: 400px;
      border-radius: 6px;
      margin-top: 30px;
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end; /* текст опускается вниз */
      align-items: center;
      padding: 1rem 2rem;
      box-sizing: border-box;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }
    .appointment-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* тень при наведении */
    }
    
    .appointment-link {
      color: white;
      font-weight: bold;
      font-size: 1.2rem;
      text-decoration: none;
      margin-bottom: 0.3rem; /* отступ от низа */
    
    }
    
    .appointment-status {
      font-size: 1.3rem;
      font-weight: 500;
      margin-top: 1rem;
      color: black;
      margin-left: 0.5rem;
    }
    
    .appointment-text {
      margin-top: 20px;
      max-width: 400px;
      font-size: 1.7rem;
      font-weight: 700;
      color: #000;
    }
    .appointment-wrapper {
      display: flex;
      gap: 2rem;
      align-items: flex-start;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;
    }
    
    .appointment-wrapper:hover {
      transform: translateY(-5px);
    }

    .review-button {
      background-color: #384A9C;
      color: white;
      border: none;
      padding: 6px 12px;
      border-radius: 6px;
      font-weight: 500;
      cursor: pointer;
      transition: 0.2s;
    }
    
    .review-button:hover {
      background-color: #4F5C99;
    }
    
  