@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.header {
  background-color: #EBFBFF;
  padding: 1.2rem 2rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  gap: 2rem;
}

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  color: #384A9C;
  display: flex;
  align-items: center;
}

.plus {
  color: #0FCEF0;
  margin-right: 0.3rem;
  font-size: 2rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7.5rem;
  margin-right: 2rem;
}

.nav-links a {
  color: #000;
  text-decoration: none;
  font-weight: 400;
  transition: 0.2s;
}

.nav-links a:hover {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  transform: translateY(-1px);
}

.auth-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.btn {
  padding: 10px 35px;
  font-weight: 600;
  border-radius: 6px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  font-size: 0.95rem;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  text-decoration: none;  
}

.btn-primary {
  background-color: #384A9C;
  color: white;
  border: none;
}

.btn-outline {
  padding: 10px 42px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #384A9C;
  color: #000000;
}

.btn:hover {
  opacity: 0.9;
  transform: translateY(-1px);
}

.my-account {
  font-weight: 500;
  color: #000;
}

@media (max-width: 768px) {
  .header {
    grid-template-columns: 1fr;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
    gap: 1rem;
  }

  .auth-buttons {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}


